<div>
  <h1>{{title}}</h1>

  <div id="container">
    <form action="">
      <div class="row">
        <div class="rowHeader">
          <label>username:</label>
        </div>
        <div class="rowData">
          <label *ngIf=!isEditingProfile class="userInfo">{{username}}</label>
          <input *ngIf=isEditingProfile type="text" name="username" value={{username}}>
        </div>
      </div>
      <div class="row">
        <div class="rowHeader">
          <label>name:</label>
        </div>
        <div class="rowData">
          <label *ngIf=!isEditingProfile class="userInfo">{{name}}</label>
          <input *ngIf=isEditingProfile type="text" name="name" value={{name}}>
        </div>
      </div>
      <div class="row">
        <div class="rowHeader">
          <label>email:</label>
        </div>
        <div class="rowData">
          <label *ngIf=!isEditingProfile class="userInfo">{{email}}</label>
          <input *ngIf=isEditingProfile type="text" name="email" value={{email}}>
        </div>
      </div>
      <div class="row">
        <div class="rowHeader">
          <label>address:</label>
        </div>
        <div class="rowData">
          <label *ngIf=!isEditingProfile class="userInfo">{{address}}</label>
          <input *ngIf=isEditingProfile type="text" name="address" value={{address}}>
        </div>
      </div>

    </form>
    <button *ngIf=!isEditingProfile (click)="editProfile()">Edit Profile</button>
    <button *ngIf=isEditingProfile (click)="saveProfile()">Save</button>
  </div>


</div>