<div>
  <h1>{{title}}</h1>

  <div id="container">
    <form action="">
      <div class="row">
        <div class="rowHeader">
          <label>username:</label>
        </div>
        <div class="rowData">
          <input type="text" name="username" placeholder={{username}}>
        </div>
      </div>
      <div class="row">
        <div class="rowHeader">
          <label>name:</label>
        </div>
        <div class="rowData">
          <input type="text" name="name" placeholder={{name}}>
        </div>
      </div>
      <div class="row">
        <div class="rowHeader">
          <label>email:</label>
        </div>
        <div class="rowData">
          <input type="text" name="email" placeholder={{email}}>
        </div>
      </div>
      <div class="row">
        <div class="rowHeader">
          <label>address:</label>
        </div>
        <div class="rowData">
          <input type="text" name="address" placeholder={{address}}>
        </div>
      </div>

    </form>
    <button (click)="editProfile()">Edit Profile</button>
  </div>


</div>