div{
  display: flex;
  flex-flow: column nowrap;
  font-family: 'Rajdhani', sans-serif;
  width: 700px;
  height: 350px;
  margin: auto auto;
  text-align: center;
  font-size: 1.2em;
  margin-top: 50px;
}

