<div>
  <h1>Create New Contact</h1>

  <div id="container">
    <form action="">

      <div class="row">
        <div class="rowHeader">
          <label>name:</label>
        </div>
        <div class="rowData">
          <input type="text" name="name" placeholder="first last">
        </div>
      </div>

      <div class="row">
        <div class="rowHeader">
          <label>address:</label>
        </div>
        <div class="rowData">
          <input type="text" name="address" placeholder="street, city, zipcode">
        </div>
      </div>

      <div class="row">
        <div class="rowHeader">
          <label>mobile:</label>
        </div>
        <div class="rowData">
          <input type="text" name="mobile" placeholder="phone">
        </div>
      </div>

      <div class="row">
        <div class="rowHeader">
          <label>work:</label>
        </div>
        <div class="rowData">
          <input type="text" name="work" placeholder="phone">
        </div>
      </div>

      <div class="row">
        <div class="rowHeader">
          <label>home:</label>
        </div>
        <div class="rowData">
          <input type="text" name="home" placeholder="phone">
        </div>
      </div>

      <div class="row">
        <div class="rowHeader">
          <label>email:</label>
        </div>
        <div class="rowData">
          <input type="text" name="email" placeholder="email">
        </div>
      </div>

      <div class="row">
        <div class="rowHeader">
          <label>twitter:</label>
        </div>
        <div class="rowData">
          <input type="text" name="twitter" placeholder="@name">
        </div>
      </div>
      <div class="row">
        <div class="rowHeader">
          <label>instagram:</label>
        </div>
        <div class="rowData">
          <input type="text" name="instagram" placeholder="@name">
        </div>
      </div>
      <div class="row">
        <div class="rowHeader">
          <label>github:</label>
        </div>
        <div class="rowData">
          <input type="text" name="github" placeholder="@name">
        </div>
      </div>

      <button (click)="createContact()">Create Contact</button>

    </form>
  </div>
</div>