<div>
  <h1>Create New Contact</h1>

  <div id="container">
    <form action="">

      <div class="row">
        <div class="rowHeader">
          <label>name:</label>
        </div>
        <div class="rowData">
          <input type="text" name="name" placeholder="enter your name" [(ngModel)]="formData.name">
        </div>
      </div>

      <div class="row">
        <div class="rowHeader">
          <label>address:</label>
        </div>
        <div class="rowData">
          <input type="text" name="address" placeholder="enter address" [(ngModel)]="formData.address">
        </div>
      </div>

      <div class="row">
        <div class="rowHeader">
          <label>mobile:</label>
        </div>
        <div class="rowData">
          <input type="text" name="mobile" placeholder="#" [(ngModel)]="formData.mobile">
        </div>
      </div>

      <div class="row">
        <div class="rowHeader">
          <label>work:</label>
        </div>
        <div class="rowData">
          <input type="text" name="work" placeholder="#" [(ngModel)]="formData.work">
        </div>
      </div>

      <div class="row">
        <div class="rowHeader">
          <label>home:</label>
        </div>
        <div class="rowData">
          <input type="text" name="home" placeholder="#" [(ngModel)]="formData.home">
        </div>
      </div>

      <div class="row">
        <div class="rowHeader">
          <label>email:</label>
        </div>
        <div class="rowData">
          <input type="text" name="email" placeholder="enter your email" [(ngModel)]="formData.email">
        </div>
      </div>

      <div class="row">
        <div class="rowHeader">
          <label>twitter:</label>
        </div>
        <div class="rowData">
          <input type="text" name="twitter" placeholder="@name" [(ngModel)]="formData.twitter">
        </div>
      </div>
      <div class="row">
        <div class="rowHeader">
          <label>instagram:</label>
        </div>
        <div class="rowData">
          <input type="text" name="instagram" placeholder="@name" [(ngModel)]="formData.instagram">
        </div>
      </div>
      <div class="row">
        <div class="rowHeader">
          <label>github:</label>
        </div>
        <div class="rowData">
          <input type="text" name="github" placeholder="@name" [(ngModel)]="formData.github">
        </div>
      </div>

      <button (click)="createContact()">Create Contact</button>

    </form>
  </div>
</div>