<div class="contactPage">

  <div class="contactPage-header">
    <h1>{{title}}</h1>
  </div>

  <!-- <div class="contactCard" *ngFor="let char of characters">
    <p class="charName">{{char.name}}</p>
    height: {{char.height}}<br>
    mass: {{char.mass}}<br>
    hair color: {{char.hair_color}}<br>
    skin color: {{char.skin_color}}<br>
    birth year: {{char.birth_year}}<br>
    eye color: {{char.eye_color}}
  </div> -->

  <div (click)="getContactDetails()" routerLink="/contactDetails" class="contactCard" *ngFor="let contact of allContacts">
    <p class="contactName">{{contact.name}}</p>
    address: {{contact.address}}<br>
    mobile: {{contact.mobile}}<br>
    work: {{contact.work}}<br>
    home: {{contact.home}}<br>
    email: {{contact.email}}<br>
    twitter: {{contact.twitter}}<br>
    instagram: {{contact.instagram}}<br>
    github: {{contact.github}}<br>

  </div>

</div>