.contactCard{
  border: 1px solid black;
  width: 200px;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  font-family: 'Rajdhani', sans-serif;
}

.charName{
  border-bottom: 1px dotted black;
}