<div id="loginDiv">

  <h1>{{title}}</h1>

  <form action="">
    *Username:<br>
    <input type="text" name="username" required [(ngModel)]="formData.username" autofocus (keyup)="validateUsername()">
    <br><br>
    *Password:<br>
    <input type="password" name="password" required [(ngModel)]="formData.password" (keyup)="validatePassword()">
  </form>

  <!-- <div [class]="formData.username === 'May' ? 'test' : ''">
    {{formData.username}}
  </div>
  <br>
  {{formData.password}} -->

  <!-- <button (click)="login()" [class]="formData.class" [disabled]="!validUsername">
    Login
  </button> -->
  <button (click)="login()" class="btn-submit" [disabled]="isDisabled()">
    Login
  </button>
</div>