<div id="loginDiv">

  <h1>{{title}}</h1>

  <form action="">
    Username:<br>
    <input type="text" name="username" required [(ngModel)]="formData.username" autofocus (keyup)="validateUsername()">

    <br><br>

    Password:<br>
    <input type="password" name="password" required [(ngModel)]="formData.password" (keyup)="validatePassword()">

    {{ loginFormData | json}}
  </form>

  <button routerLink="/" (click)="login()" class="btn-submit" [disabled]="isDisabled()">
    Login
  </button>

</div>