<div id="loginDiv">

  <h1>{{title}}</h1>

  <form action="">
    *Username:<br>
    <input type="text" name="username" required [(ngModel)]="formData.username" autofocus>
    <br><br>
    *Password:<br>
    <input type="text" name="password" required [(ngModel)]="formData.password">
  </form>

  <!-- <div [class]="formData.username === 'May' ? 'test' : ''">
    {{formData.username}}
  </div>
  <br>
  {{formData.password}} -->

  <button (click)="login()" [class]="formData.class">Login</button>
</div>