#loginDiv {
  display: flex;
  flex-flow: column nowrap;
  font-family: 'Rajdhani', sans-serif;
  width: 700px;
  height: 350px;
  margin: auto auto;
  text-align: center;
  font-size: 1.2em;
  margin-top: 50px;
  // border: 1px solid black;
}
  
form {
  input {
    width: 50%;
    height: 35px;
    font-size: 1em;
    font-family: 'Rajdhani', sans-serif;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
}

button {
  width: 50%;
  font-size: 1em;
  margin: auto;
  background-color: rgb(62, 149, 175);
  color: white;
  padding: 5px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.5s ease-out;

  &:disabled {
  background-color: lightgray;
  }

}

button:hover {
background-color: rgb(114, 187, 209);
}
  