#page-header{
  display: flex;
  flex-flow: row nowrap;
  background-color: lighten(steelblue, 15%);
  box-shadow: 3px 3px 3px 3px lightgray;
}

#page-header-title{
  height: 100%;
  margin: auto auto;
  padding-left: 15px;
}

#nav{
  display: flex;
  justify-content: flex-end;
  width: 85%;
  height: 100%;
  // margin: auto auto;
}

h1{
  font-family: 'Orbitron', sans-serif;
  font-weight: bold;
}

ul{
  margin: 0;
  padding-left: 15px;
}

li{
  list-style-type: none;
  display: inline-block;
  margin-right: 15px;
  
  a{
    text-decoration: none;
    color: white;
    font-family: 'Rajdhani', sans-serif;
    font-size: 1.2em;

    &:hover{
      color: steelblue;
    }
  }
}

.logged-in{
  width: 100%;
  color: white;
  font-family: 'Rajdhani', sans-serif;
  font-size: 1.2em;
  text-align: right;
  margin: 10px 0 5px 0;
}

button {
  width: 20%;
  font-size: .7em;
  margin: auto 15px;
  background-color: white;
  color:black;
  padding: 2px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 2px 2px 0 gray;
}

button:hover {
background-color: rgb(114, 187, 209);
}