#page-header{
  display: flex;
  flex-flow: row nowrap;
  background-color: lighten(steelblue, 15%);
  box-shadow: 3px 3px 3px 3px lightgray;
}

#page-header-title{
  height: 100%;
  margin: auto auto;
  padding-left: 15px;
}

#nav{
  display: flex;
  justify-content: flex-end;
  width: 85%;
  height: 100%;
  margin: auto auto;
}

h1{
  font-family: 'Orbitron', sans-serif;
  font-weight: bold;
}

ul{
  margin: 0;
  padding-left: 15px;
}

li{
  list-style-type: none;
  display: inline-block;
  margin-right: 15px;
  
  a{
    text-decoration: none;
    color: white;
    font-family: 'Rajdhani', sans-serif;
    font-size: 1.2em;

    &:hover{
      color: steelblue;
    }
  }
}