<div id='page-header'>

  <div id="page-header-title">
    <h1>{{title}}</h1>
  </div>

  <div id="nav">
    <ul>
      <li class="logged-in" *ngIf="isLoggedIn()">
        Welcome {{user.username}} !
        <button (click)="logout()">Log Out</button>
      </li>
      <br>
      <li *ngIf="isLoggedIn()"><a routerLink="/">Home</a></li>
      <li *ngIf="isLoggedIn()"><a routerLink="/contacts">View All Contacts</a></li>
      <li *ngIf="isLoggedIn()"><a routerLink="/createContact">Create Contacts</a></li>
      <li *ngIf="isLoggedIn()"><a routerLink="/profile">My Profile</a></li>
      <li *ngIf=!user.loggedIn><a routerLink="/login" (click)="login()">Login</a></li>

    </ul>
  </div>
</div>